.App {
  text-align: center;
  background: #000;
}

.Editor {
  float: left;
  height: 100vh;
  width: 30%;
  background-color: #333333;
}

.Space {
  height: 100vh;
  width: 70%;
  float: left;
  background-color: #000
}
